<template>
    <div class="container">
        <div class="row">
            <div class="col-md-3" v-for="(image, i) in images">
                <div class="card recomended-card route-card">
                    <img class="card-img-top d-block w-100 img-fluid" :src="image" @click="selectImage(i)">
                </div>
            </div>
        </div>
        <vue-gallery-slideshow :images="images" :index="index" @close="index = null"></vue-gallery-slideshow>
    </div>
</template>

<style scoped>
.image {
  position: absolute;
}
</style>

<script>

import VueGallerySlideshow from 'vue-gallery-slideshow'

export default {
    name: "gallery",
    components: {
      VueGallerySlideshow
    },
    data : function () {
        return {
            images: [
                'static/images/hotel.jpg',
                'static/images/hotel.jpg',
                'static/images/hotel.jpg',
                'static/images/hotel.jpg',
                'static/images/hotel.jpg',
                'static/images/hotel.jpg',
                'static/images/hotel.jpg',
            ],
            index: 0
        }
    },
    methods: {
      selectImage(i) {
        this.index = i;
      }
    },
}
</script>

