<template>
     <table class="table">
        <thead>
            <tr>
                <th scope="col" id="incexc-header"> <span class="incexc-header">What should you do before climbing the mountain?</span> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"> <i class="pointer fa fa-caret-right"></i><span>Filtered water throughout the trek</span></td>
            </tr>
            <tr>
                <td scope="row"> <i class="pointer fa fa-caret-right"></i><span>Professional mountain guides, cooks and
                        porters</span></td>
            </tr>
            <tr>
                <td scope="row"> <i class="pointer fa fa-caret-right"></i><span>
                        Fair wages for the mountain crew as approved by the Kilimanjaro
                        National Park Authority (KINAPA), Kilimanjaro Association of Tour Operators
                    </span>
                </td>
            </tr>
            <tr class="table-separator"><td></td></tr>
        </tbody>
    </table>
</template>

<script>
export default {
    name: "incandexc",
}
</script>