<template>
     <div class="cover">
        <div class="cover-image">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 img-fluid" src="static/images/zebra.jpg" alt="First slide">
                    <div class="carousel-caption cover-name d-none d-md-block">
                        Mountain Kilimanjaro
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "topimage",
}
</script>
