@font-face {
  font-family: "kievitBold";
  src: url("../font/kievit/KievitOT-Bold.otf");
}

@font-face {
  font-family: "kievitRegular";
  src: url("../font/kievit/KievitOT-Regular.otf");
}

@font-face {
  font-family: "kievitMedium";
  src: url("../font/kievit/KievitOT-Medium.otf");
}

@font-face {
  font-family: "MySans";
  src: url("../font/sans/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "MySansItalic";
  src: url("../font/sans/SourceSansPro-LightItalic.ttf");
}

@font-face {
  font-family: "kievitThin";
  src: url("../font/kievit/KievitOT-Thin.otf");
}

@font-face {
  font-family: "kievitLight";
  src: url("../font/kievit/KievitOT-Light.otf");
}

@font-face {
  font-family: "Pangolin";
  src: url("../font/pangolin/Pangolin-Regular.ttf");
}


@keyframes bottom-animate {
  from { border-bottom: 1px solid #802C3E50;}
  to {border-bottom: 2px solid #41B883;}
}

@keyframes background-change {
  from { background: #ffffff; color: #2C3E50}
  to {background:  #41B883;}
}

@keyframes button-transform {
  from { background: #ffffff; color: #41B883;}
  to {background:  #41B883; color: #ffffff;}
}

@keyframes carousel-btn-button-transform {
  from {background:  #41B883; color: #ffffff;}
  to { color: #41B883; background: rgba(0,0,0,0.7);}
}

@keyframes card-button-transform {
  from { background: #41B883; color: #ffffff;}
  to {background:  rgba(50, 51, 51, 0.035); color: #41B883;}
}

@keyframes parallax-button-transform {
  from { background: #41B883; color: #ffffff;}
  to {background:  rgba(50, 51, 51, 0); color: #ffffff;}
}


* {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #2C3E50;
}

#top {
  flex: 0 0 auto;
  height: auto;
  margin: 0px;
  padding: 0px;
}

#app {
  height: auto;
  margin: 0px;
  padding: 0px;
  flex: 1 0 auto;
}

#bottom {
  height: auto;
  margin: 0px;
  padding: 0px;
  flex: 0 0 auto;
}

.navbar {
  background: #ffffff;
  height: 8%;
}

.navbar-brand {
  color: #2C3E50 !important;
  padding-left: 10%;
  font-family: 'Dosis';
  font-weight: 500 !important;
}

.nav-item {
      width: auto;
      color: #2C3E50;
      padding: 0 10px;
      font-family: kievitRegular;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #41B883;
  transition: 0.2s;
}

.nav-item:hover::after {
  width: 100%;
}

.tab-item::after {
  background: none;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #2C3E50;
}

.nav-link {
  color: #2C3E50 !important;
  padding: 10px 0px;
  transition: 0.2s;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #2C3E50;
}

.dropdown-item:focus,
.dropdown-item:hover {
  animation-name: background-change;
  animation-duration: 0.4s;
  color: #ffffff;
  background: #41B883;
}

#search {
  height: 30px;
  border: none;
  border-bottom: 1px solid #802C3E50;
  border-radius: 0;
  padding-left: 30px;
  font-family: kievitLight;
}



.search-icon-path {
  color: #802C3E50;
}
#white-search {
  display: none;
}
#black-search {
  display: block;
}

#search:focus {
  box-shadow: none;
  /* border-bottom: 2px solid #41B883; */
  animation-name: bottom-animate;
  animation-duration: 0.7s;
  border-bottom: 2px solid #41B883;
}
#search:hover {
  box-shadow: none;
  /* border-bottom: 2px solid #41B883; */
  animation-name: bottom-animate;
  animation-duration: 0.7s;
  border-bottom: 2px solid #41B883;
}

#search-field {
  margin-left: 35%;
  margin-top: 15px;
  width: 15%;
  position: absolute;
}

.svgIcon-use {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 999;
}

.dropdown-menu-lg {
  width: auto;
  height: auto;
  position: relative;
  border-radius: 5px;
}

.dropdown-menu-sm {
  width: auto;
  height: auto;
}

.icon-bar {
  background-color: #2C3E50;
}

.custom-nav-menu {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.cn-item {
  text-decoration: none;
  color: #ffffff;
  background: #41B883;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  flex: 0 0 auto;
  border-top: thin solid rgb(127, 208, 172);
  text-align: center;
}

.cn-item:hover {
  text-decoration: none;
  color: #ffffff;
  background: rgb(28, 182, 113);
}

.cn-item:focus {
  text-decoration: none;
  color: #ffffff;
  background: rgb(28, 182, 113);
}

.collapse-item {
  width: 100%;
  height: auto;
  text-align: center;
  background: rgb(67, 192, 136);
  color: #ffffff;
  border-top: thin solid rgb(127, 208, 172);
}

.collapse {
  height: auto;
}

#search-on-small {
  width: 100%;
  height: 60px;
  background-color: #41B883;
}

#search-small {
  background: transparent;
  border: none;
  border-bottom: thin solid #ffffff !important;
  color: #ffffff;
  height: 50px;
  width: 80%;
  margin-left: 10%;
  border-radius: 0;
  font-family: kievitLight;
}

#search-small::placeholder {
  color: #ffffff;
}

#search-small:focus {
  box-shadow: none;
}

#search-small:hover {
  box-shadow: none;
}

.footer {
  width: 100%;
  height: auto;
  background: #24292E;
  margin-top: 30px;
}

/* #carouselIndicator {
  width: 55%;
  height: auto;
  position: absolute;
  right: 50px;
  top: 100px;
} */

#carouselIndicator {
  width: 100%;
  height: 400px;
}

.carousel-caption {
  width: 50%;
  height: auto;
  bottom: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
  font-family: kievitRegular;
  bottom: 35%;
  left: 25%;
}

.see-more {
  text-decoration: none;
  animation-duration: 0.4s;
  color: #ffffff;
  background: #41B883;
  padding: 10px 10px;
}

.see-more:hover {
  animation-name: carousel-btn-button-transform;
  text-decoration: none;
  border: thin solid #41B883;
  color: rgb(87, 225, 163);
  background-color: rgba(0,0,0,0.7);
}

.welcome-header {
  font-family: MySans;
  font-weight: 300;
}

.welcome-body {
  font-family: MySans;
  padding: 30px;
}

.welcome-text {
  padding: 50px;
  /* background-color: rgb(65, 184, 131, 0.07); */
  border-radius: 12px;
  /* margin-top: 30px; */
}

.about-us-btn {
  text-decoration: none;
  color: #41B883;
  padding: 10px 10px;
  border: thin solid #41B883;
  font-family: MySans;
  font-weight: 500;
  margin-left: 80%;
}

.about-us-btn:hover {
  animation-name: button-transform;
  animation-duration: 0.4s;
  background: #41B883;
  color: #ffffff;
  text-decoration: none;
}

.card {
  border: none;
}

.card-title {
  font-family: KievitMedium;
  color: #41B883;
  text-align: center;
  font-weight: 300;
  font-size: 1.1em;
  margin-top: 10px;
  text-align: left;
}

.card-body {
  /* border: thin solid #41B883; */
  box-shadow: none;
  background: rgb(65, 184, 131, 0.07);
}



.card-text {
  font-family: MySans;
  font-size: 0.9em;
}


#control-right {
  position: absolute;
  width: auto;
  right: 5%;
  margin-top: 20%;
}

#control-left {
  position: absolute;
  width: auto;
  left: 5%;
  margin-top: 20%;
}

/* control image height */
.card-img-top-250 {
  max-height: 250px;
  overflow:hidden;
}

.control-btn {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

.recomended-btn {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 10px;
  border: thin solid #41B883;
  background: #41B883;
  font-family: MySans;
  font-weight: 500;
  margin-left: 60%;
}

.recomended-btn:hover {
  animation-name: card-button-transform;
  animation-duration: 0.4s;
  background: rgba(50, 51, 51, 0);;
  color: #41B883;
  text-decoration: none;
}

.standard-btn {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 10px;
  border: thin solid #41B883;
  background: #41B883;
  font-family: MySans;
  font-weight: 500;
}

.standard-btn:hover {
  animation-name: card-button-transform;
  animation-duration: 0.4s;
  background: rgba(50, 51, 51, 0);;
  color: #41B883;
  text-decoration: none;
}

.standard-btn:focus {
  background: rgba(50, 51, 51, 0);
  color: #41B883;
  text-decoration: none;
  box-shadow: none;
  border: thin solid #41B883;
}

.recomended-header {
  font-family: MySans;
  font-weight: 300;
  font-size: 1.8em;
  padding: 50px 0px;
}

.other-row {
  padding: 50px 0px;
}

.parallax {
  background-image: url("../images/parallax_first.jpg");
  height: 250px;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
}

.parallax-btn {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 10px;
  border: thin solid #41B883;
  background: #41B883;
  font-family: MySans;
  font-weight: 500;
  width: 40%;
  margin-left: 30%;
  height: 20%;
  margin-top: 40%;
}

.parallax-btn:hover {
  animation-name: parallax-button-transform;
  animation-duration: 0.4s;
  background: transparent;
  color: #ffffff;
  border: thin solid #ffffff;
  text-decoration: none;
}

.card-img-overlay {
  top: 30%;
}

.tinted {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.6);
}


.circle-image {
  list-style: none;
  margin: 0;
  padding: 0;
}

.circle-image {
  width: 15%;
  text-align: center;
  position: relative;
  padding-bottom: 15%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ff0082;
  margin-left: auto;
  margin-right: auto;
}

.circle-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

#feedback-form {
  padding: 22px 30px;
  font-family: MySans;
}

.carousel-item-feedback {
  padding: 0px 80px;
}

.carousel-control-feedback {
  background: black;
  width: 60px;
  height: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

.contact-details {
  padding: 15px;
}

.contact-details-contacts {
  list-style-type: none;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

.contact-details-contacts li {
  display: inline;
  padding: 10px 50px;
  font-family: KievitLight;
  font-size: 1em;
  cursor: pointer;
}


.contact-details-social {
  width: 170px;
  margin-left: auto;
  margin-right: auto;
}


.social-button {
  color: #ffffff;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}
.social-button:hover {
    color: #41B883;
    cursor: pointer;
}

.social-group span {
  padding: 0 10px;
}

.text-input {
  font-family: MySans;
  font-size: 1em;
}
.text-input:hover {
  border: thin solid #41B883;
}

.text-input:focus {
  box-shadow: none;
  border: thin solid #41B883;
}



img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.cheetah-container {
  margin-top: 100px;
  margin-bottom: 60px;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.cover {
  height: 319px;
  background: seagreen;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cover-image {
  flex: 1 0 auto;
  position: relative;
}

.cover-name {
  bottom: 12%;
  font-size: 3em;
  padding: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: #41b883;
  color: #ffffff !important;
  border-radius: 0px;
  width: 100%;
  padding: 10px 80px;
  box-shadow: 0px 4px 21px -11px rgba(0,0,0);
}

.nav-pills .nav-link.active::after {
  background: #FFF;
}

.tab-item {
  padding: 10px 50px;
}

.nav-tab {
  margin-top: 50px;
  border-radius: 100px;
}


.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

.close {
  height: 50px;
  width: 50px;
}

.modal-body {
  height: 80%;
}

.modal-dialog {
  height: 85%;
}

.control-btn {
  height: 40px;
  width: 50px;
}


.inc-exc {
  counter-reset: myCouter;
}

.inc-exc li {
  list-style: outside none none;
  font-size: 0.8em;
}

.inc-exc li::before {
  content: counter(myCouter, decimal);
  counter-incement: myCouter;

  /* background: #41B883 none repeat scroll 0 0; */
  color: #41B883;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 5px 10px;
  text-align: center;
  width: 40px;
  font-size: 1.5em;
}

#incexc-header {
  background-color: rgb(65, 184, 131, 0.1);
  color: #2C3E50;
  margin-top: 10px;
  font-family: KievitBold;
  font-size: 1.2em;
  border-top: none !important;
  border-bottom: 1px solid #dee2e6; 
}

td span {
  font-family: MySans;
  font-size: 0.9em;
}

.pointer {
  color: #41B883;
  width: 35px;
}

.table-separator {
  background-color: #ffffff;
}

.card-header-day {
  font-family: KievitBold;
  font-size: 1.25em;
}

.overview {
  font-family: MySans;
  font-size: 1em;
}

.route-btn {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 10px;
  background: #41B883;
  font-family: MySans;
  font-weight: 500;
  margin-left: 0 !important;
}

.route-btn:hover {
  animation-name: card-button-transform;
  animation-duration: 0.4s;
  background: rgba(50, 51, 51, 0);;
  color: #41B883;
  text-decoration: none;
  border: none;
}

.route{
  margin-top: 30px;
}

.categories-header {
  text-align: left;
}

span.price-tag {
    background-color: #F1C40F;
    padding: 6px;
    height: auto;
    width: auto;
    color: #ffffff;
    border-radius: 25px;
    float: right;
}

.content {
  padding: 30px 0 0 30px;
}

.header span {
  font-size: 1.5em;
  font-family: kievitMedium;
  color: #41B883;
}

.content-text {
  padding: 10px 0;
}

.content-text p{
  font-family: KievitLight;
}

.recomended-card {
  width: 16em !important;
}

.custom-card-green {
  border: none;
  border-radius: 12px;
  height: 269px;
  width: 206px;
  margin-top: 8%;
  background-color: rgb(65, 184, 131, 0.2);
  box-shadow: 0 0px 0px 0px rgba(0,0,0,.19);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(-25deg);
  position: absolute;
}

.custom-card-white {
  border: none;
  border-radius: 12px;
  height: 269px;
  width: 209px;
  background-color: #FFF;
  margin-left: 26%;
  margin-top: 10%;
  box-shadow: 0 3px 29px -4px rgba(0,0,0,.19);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(25deg);
}

.custom-card-button {
  text-decoration: none;
  background: #41B883;
  color: #FFF;
  position: absolute;
  height: 44px;
  width: auto;
  padding: 10px;
  font-family: MySans;
  top: 20px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 4px 27px -11px #000;
}

.custom-card-button:hover {
  text-decoration: none;
  color: #FFF;
}

.custom-card-pointer {
  position: absolute;
  top: 21%;
  height: 29%;
  width: 42% !important;
  left: 45%;
  transform: rotate(-53deg);
}

.custom-card-description-green {
  position: absolute;
  top: 18%;
  font-size: 1.2em;
  padding: 25px;
  font-family: KievitMedium;
  height: auto;
}

.custom-card-description-white {
  position: absolute;
  top: 50%;
  font-size: 1.2em;
  padding: 25px;
  font-family: KievitMedium;
  height: auto;
}

.testimony-container {
  background-color: rgb(65, 184, 131, 0.07);
  padding-top: 50px;
  border-radius: 12px;
  height: auto;
}

.testimony-text {
  padding: 30px;
  font-family: MySans;
}

.testimony-header {
  position: absolute;
  font-family: KievitBold;
  font-size: 1.5em;
  left: 10%;
  top: 7%;
  width: auto;
}

.parallax-heading {
  font-family: KievitBold;
  font-size: 1.5em;
  text-align: center;
}


.testimony-user {
  text-align: right;
  padding-right: 14%;
  padding-bottom: 4%;
  font-family: MySansItalic;
  font-size: 1em;
  color: #0069FF;
}

.feedback-box {
  height: auto;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 1px 21px -6px rgba(0,0,0,0.5);
  border-radius: 12px;
}

.home-logo-text{
  font-family: KievitMedium;
  color: #41B883;
  font-size: 1.5em;
  text-align: center;
}

.route-card {
  margin-top: 30px;
}

.table td {
  border-top: none !important;
  background: rgb(65, 184, 131, 0.1);
}

tr.table-separator td {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


@media only screen and (max-width: 1020px) {
  .navbar {
    background: #41B883;
  }
  .navbar-brand {
    color: #ffffff !important;
  }
  #search-field {
    display: none;
  }
  #white-search {
    display: block;
    right: 60px;
  }
  #black-search {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar-brand {
    padding-left: 1%;
    width: 65%;
  }
  #search-field {
    margin-left: 23%;
    margin-top: 1.3%;
  }
  .navbar {
    height: 60px;
  }
}

@media only screen and (max-width: 800px) {
  .welcome-text {
    padding: 0px;
  }
  .about-us-btn {
    margin-left: 60%;
  }
  .home-logo {
    display: none;
  }
  .recomended-card {
    width: 18em !important;
    margin-left: 13%;
  }
}

@media only screen and (max-width: 660px) {
  #carouselIndicator {
    width: 100%;
    height: 260px;
  }
  .recomended-card {
    width: 15em !important;
    margin-left: 1%;
  }


@media only screen and (max-width: 450px) {
  #carouselIndicator {
    width: 100%;
    height: 165px;
  }
  .recomended-card {
    width: 16em !important;
    margin-left: 17%;
  }
}

@media only screen and (max-width: 370px) {
  #carouselIndicator {
    width: 100%;
    height: 160px;
  }
  .recomended-card {
    width: 16em !important;
    margin-left: 13%;
  }
}

@media only screen and (max-width: 320px) {
  #carouselIndicator {
    width: 100%;
    height: 133px;
  }
  .recomended-card {
    width: 16em !important;
    margin-left: 11%;
  }
}
