<template>
  <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7 col-xs-12">
                <div class="welcome-text">
                    <h2 class="welcome-header">Explore the best with my safari</h2>
                    <p class="welcome-body">
                        My safari welcomes you to visit Tanzania and experience our part of the continent for the
                        adventure it offers. We are the
                        true experts when it comes to Tanzania and we arrange lodge and camping safaris as well as
                        Mt
                        Kilimanjaro and Mt Meru climbs. Besides a beautiful scenic Tanzania safari, we also
                        organise
                        relaxing beach stays on the shores of the Indian Ocean on either Tanzania’s mainland or on
                        one
                        of the beautiful islands of Zanzibar, Mafia or Pemba. </p>
                    <a href="#" class="about-us-btn">About Us</a>
                </div>
            </div>
            <div class="col-sm-5 col-xs-12">
                <img class="card-img-top d-block w-100 img-fluid" src="static/images/parallax_first.jpg" alt="Card image cap">
                <div class="home-logo-text"><span>Walk with us to the rooftop of Africa!!</span></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'intro',
  components : {},
  data () {
    return {
      msg: 'hellow'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>