<template>
<div class="container-fluid cheetah-container">
    <div class="row">
        <div class="col-md-6">
            <div class="parallax-heading"><span>We Love To Show You The World!!</span></div>
            <img class="card-img-top d-block w-100 img-fluid fadeIn" src="static/images/cheetah.jpg" alt="Card image cap">
        </div>
        <div class="col-md-6">
            <div class="custom-card-green">
                <a href="" class="custom-card-button"> Tell Us We're The best</a>
                <span class="custom-card-description-green">Your feedback will help us and the rest of the world</span>
            </div>
            <div class="custom-card-white fadeInRight">
                <a href="" class="custom-card-button"> Join A group</a>
                <img class="card-img-top d-block w-100 img-fluid custom-card-pointer" src="static/images/pointer.png" alt="Card image cap">
                <span class="custom-card-description-white">click where the arrow points to join tour groups</span>
            </div>
        </div>
    </div>
</div>
</template>

<script>

export default {
  name: 'intro',
  components : {},
  data () {
    return {
      msg: 'hellow'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>