<template>
  <div id="carouselIndicator" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 img-fluid" src="static/images/zebra.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>IMAGE ONE</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi
                        ut aliquip ex ea commodo consequat.
                    </p>
                    <a href="#" class="see-more">See More</a>
                </div>
            </div>
            <div class="carousel-item two">
                <img class="d-block w-100 img-fluid" src="static/images/tembo.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>IMAGE TWO</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi
                        ut aliquip ex ea commodo consequat.
                    </p>
                    <a href="#" class="see-more">See More</a>
                </div>
            </div>
            <div class="carousel-item three">
                <img class="d-block w-100 img-fluid" src="static/images/kilimanjaro.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>IMAGE THREE</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi
                        ut aliquip ex ea commodo consequat.
                    </p>
                    <a href="#" class="see-more">See More</a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicator" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicator" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</template>

<script>
export default {
  name: 'slider',
  components : {},
  data () {
    return {
      data: "no data"
    }
  },
  mounted () {
      axios
      .get('http://localhost:8000/tourism/api/slider/content/')
      .then(response => (console.log(response)));
    //   console.log(data);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>