<template>
<div class="container">
    <div class="row">
        <span class="recomended-header"> <span style="color: #41B883;">
            <i class="fa fa-hotel" style="width: 50px;"></i></span>
         Suggested Hotels </span>
    </div>
    <div class="row suggested-cards">
        <div class="card recomended-card">
            <img class="card-img-top d-block w-100 img-fluid" src="static/images/hotel.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="recomended-btn">See More </a>
            </div>
        </div>
        <div class="card recomended-card" >
            <img class="card-img-top d-block w-100 img-fluid" src="static/images/hotel.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="recomended-btn">See More </a>
            </div>
        </div>
        <div class="card recomended-card" >
            <img class="card-img-top d-block w-100 img-fluid" src="static/images/hotel.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="recomended-btn">See More </a>
            </div>
        </div>
        <div class="card recomended-card" >
            <img class="card-img-top d-block w-100 img-fluid" src="static/images/hotel.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="recomended-btn">See More </a>
            </div>
        </div>
        <div class="card recomended-card" >
            <img class="card-img-top d-block w-100 img-fluid" src="static/images/hotel.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="recomended-btn">See More </a>
            </div>
        </div>
        <div class="card recomended-card" >
            <img class="card-img-top d-block w-100 img-fluid" src="static/images/hotel.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="recomended-btn">See More </a>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
  name: 'suggestedHotels',
  components : {},
  data () {
    return {
      msg: 'hellow'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>