<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="testimony-header"> {{heading}} </div>
                <div class="testimony-container">
                    <div class="testimony">
                        <div class="testimony-text"><span > {{ msg }}</span></div>
                        <div class="testimony-user"><span>{{ name }}</span></div>
                    </div>
                    <div class="testimony">
                        <div class="testimony-text"><span > {{ msg }}</span></div>
                        <div class="testimony-user"><span>{{ name }}</span></div>
                    </div>
                    <div class="testimony">
                        <div class="testimony-text"><span > {{ msg }}</span></div>
                        <div class="testimony-user"><span>{{ name }}</span></div>
                    </div>
                    <div class="testimony">
                        <div class="testimony-text"><span > {{ msg }}</span></div>
                        <div class="testimony-user"><span>{{ name }}</span></div>
                    </div>
                    <div class="testimony">
                        <div class="testimony-text"><span > {{ msg }}</span></div>
                        <div class="testimony-user"><span>{{ name }}</span></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="feedback-box">
                    <form id="feedback-form">
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Full name</label>
                            <input type="text" class="form-control text-input" id="formGroupExampleInput2" placeholder="Enter full name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control text-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Message</label>
                            <textarea class="form-control text-input" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="standard-btn">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "testimony",
  components: {},
  data() {
    return {
      msg: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ullam quod, 
            natus laudantium cupiditate voluptatibus accusamus saepe sint. 
            Maxime distinctio assumenda quas dolorum temporibus natus. 
            Dolorum molestias optio pariatur culpa.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ullam quod,
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ullam quod, 
            natus laudantium cupiditate voluptatibus accusamus saepe sint. 
            Maxime distinctio assumenda quas dolorum temporibus natus. 
            Dolorum molestias optio pariatur culpa.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ullam quod.`,
      heading: "What happy Users Say!!",
      name: "-: Christopher Shoo"
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>

