<template>
    <div class="container">
      <div class="row">
          <span class="recomended-header categories-header categories-header-short-trip"> <span style="color: #41B883;">
                  <i class="fa fa-random" style="width: 50px;"></i></span>
              Explore other tours with us </span>
      </div>
        <div class="row" v-for="i in 5">
          <div class="col-md-9">
            <a class="card-link" href="#">
          <article class="place-card">
              <img class="place-image" :src="image" />
              <div class="place-details">
                <!-- <h4 class="place-tittle">{{ category }}</h4> -->
              <h4 class="place-name">{{ name }}</h4>
              <p class="place-description">{{ desc }}</p>
              <a href="#" class="short-trip">See More </a>
              </div>
          </article>
          </a>
          </div>
        </div>
    </div>
</template>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.short-trip {
  margin-left: 0%;
  margin-top: 10px;
  background: none;
  color:#41B883;
  border: none;
}

.short-trip:hover {
  animation: none;
  text-decoration: underline;
}

.header {
  font-family: KievitBold;
  font-size: 1.3em;
}

.categories-header-short-trip {
  padding-top: 50px;
  padding-bottom: 10px;
  font-family: KievitBold;
}

.place-card {
  display: flex;
  flex-direction: row;
  background: rgb(65, 184, 131, 0.2);
  border-radius: 0.375rem;
  overflow: hidden;
}

.place-tittle {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0625rem;
  margin: 0 0 0.75rem 0;
  padding: 0 0 0.25rem 0;
  border-bottom: thin solid #802C3E50;
  height: auto;
  width: auto;
}

.card-link {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.place-image {
  display: block;
  width: 100%;
	object-fit: cover;
}

.place-details {
  padding: 1.5rem;
}

.place-name {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  height: auto;
  letter-spacing: 0.0625rem;
  margin: 0 0 0.75rem 0;
  padding: 0 0 0.25rem 0;
  font-family: MySans;
  font-size: 0.9em;
}

.post-title {
  font-size: 0.2rem;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
  height: auto;
}

.post-author {
  font-size: 0.875rem;
  line-height: 1;
  margin: 1.125rem 0 0 0;
  padding: 1.125rem 0 0 0;
  height: auto;
}

.place-description {
  height: auto;
  font-family: MySans;
  font-size: 0.9em;
}

@media (max-width: 40rem) {
  #container {
    width: 18rem;
    height: 27.25rem;
  }
  
  .place-card {
    flex-wrap: wrap;
  }
  .short-trip {
    margin-left: auto;
    margin-right: auto;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
  }
  
  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }

  .place-image {
    height: 100%;
  }
  
  .place-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }
  
  @media (max-width: 40rem) {
    .place-card {
      grid-template-columns: auto;
      grid-template-rows: 12rem 1fr;
    }
  }
}
</style>

<script>
export default {
    name: 'allplaces',
    data: () => ({
    name: 'Explore Moshi Town',
    image: 'static/images/hotel.jpg',
    // category: 'Short trip',
    author: '',
    desc: `Seattle is a seaport city on the west coast of the United States
            Seattle is a seaport city on the west coast of the United States
            Seattle is a seaport city on the west coast of the United States
            Seattle is a seaport city on the west coast of the United States`
  })
}
</script>

