<template>
  <div>
      <slider></slider>
      <intro></intro>
      <recomended></recomended>
      <suggestedHotels></suggestedHotels>
      <parralax></parralax>
      <testimony></testimony>
  </div>
</template>

<script>

import Slider from '@/components/Home/Slider'
import Intro from '@/components/Home/Intro'
import Recomended from '@/components/Home/Recomended'
import SuggestedHotels from '@/components/Home/SuggestedHotels'
import Parralax from '@/components/Home/Parralax'
import Testimony from '@/components/Home/Testimony'

export default {
  name: 'Index',
  components : {Slider, Intro, Recomended, SuggestedHotels, Parralax, Testimony},
  data () {
    return {
      msg: 'hellow'
    }
  }
}
</script>

<style scoped>

</style>
