<template>
  <div class="middle">
    <topimage></topimage>

    <div class="container">
        <ul class="nav nav-tab nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item tab-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-overview" role="tab" aria-controls="pills-home"
                    aria-selected="true">Overview</a>
            </li>
            <li class="nav-item tab-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-imp-info" role="tab" aria-controls="pills-profile"
                    aria-selected="false">Important Info</a>
            </li>
            <li class="nav-item tab-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-images" role="tab" aria-controls="pills-contact"
                    aria-selected="false">Images</a>
            </li>
            <li class="nav-item tab-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-inc-exc" role="tab" aria-controls="pills-contact"
                    aria-selected="false">Climbing Preparations</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="pills-home-tab">
                <p class="overview"> The Machame route, also referred to as the Whiskey route,
                    is one of the most popular routes on Kilimanjaro and a favorite for us.
                    Machame route is one of the highest summit success rates given the topography and nature of the route which allows climbers to
                    “trek high & sleep low” hence making it a more favorable route for acclimatization.
                    This route offers some of the most spectacular scenery while on the mountain.
                    The Machame route starts in the south west side of the mountain and proceeds steeply north,
                    traversing the Shira plateau and eventually joining the Shira and Lemosho routes just after the Shira cave camp.
                    The Machame route can be done in minimum 6 days but a 7 day trek is recommended to allow
                    climbers been well rested and acclimatized before making the final ascent to the summit.
                  </p>
            </div>
            <div class="tab-pane fade" id="pills-imp-info" role="tabpanel" aria-labelledby="pills-profile-tab">
                <p class="overview">2
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ullam quod,
                      natus laudantium cupiditate voluptatibus accusamus saepe sint.
                      Maxime distinctio assumenda quas dolorum temporibus natus.
                      Dolorum molestias optio pariatur culpa.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ullam quod,
                      natus laudantium cupiditate voluptatibus accusamus saepe sint.
                      Maxime distinctio assumenda quas dolorum temporibus natus.
                      Dolorum molestias optio pariatur culpa.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ullam quod,
                      natus laudantium cupiditate voluptatibus accusamus saepe sint.
                      Maxime distinctio assumenda quas dolorum temporibus natus.
                      Dolorum molestias optio pariatur culpa.
                  </p>
            </div>
            <div class="tab-pane fade" id="pills-images" role="tabpanel" aria-labelledby="pills-contact-tab">
                <gallery></gallery>
            </div>
            <div class="tab-pane fade" id="pills-inc-exc" role="tabpanel" aria-labelledby="pills-contact-tab">
                <incandexc></incandexc>
            </div>
        </div>
    </div>
    <routes></routes>
  </div>
</template>

<script>

import Routes from '@/components/Trek/kilimeru/routes'
import Gallery from '@/components/Trek/gallery'
import Incandexc from '@/components/Trek/incandexc'
import Topimage from '@/components/Trek/topimage'

export default {
  name: 'trek',
  components : {Routes, Gallery, Incandexc, Topimage},
  data () {
    return {
      msg: 'i am working'
      
    }
  }
}
</script>

<style scoped>

</style>